/* You can add global styles to this file, and also import other style files */

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

h1 {
  margin: 0px -18.76px;
}

app-station {
  margin-bottom: -20px;
}
