@if (shortestPath) {
  <p>
    Start at <strong>{{ shortestPath.startingStation.name }}</strong> and go in the
    <strong>{{ shortestPath.startingStation.direction }} direction</strong> on the
    <strong>{{ shortestPath.startingStation.line | lowercase }} line</strong>.
  </p>
  @for (station of shortestPath.stationsToSwitchLines; track station) {
    <p>
      At <strong>{{ station.name }}</strong
      >, switch to the <strong>{{ station.line | lowercase }} line</strong> and go in the
      <strong>{{ station.direction }} direction</strong>.
    </p>
  }
  <p>
    Stop at <strong>{{ shortestPath.destinationStation }}</strong
    >.
  </p>
}
