@if (shortestPath) {
  <p data-testid="starting-station-p">
    Start at <strong>{{ getDisplayName(shortestPath.startingStation.name) }}</strong> and go in the
    <strong>{{ getDisplayName(shortestPath.startingStation.direction) }} direction</strong> on the
    <strong>{{ shortestPath.startingStation.line | lowercase }} line</strong>
  </p>
  @for (station of shortestPath.stationsToSwitchLines; track station; let idx = $index) {
    <p [attr.data-testid]="`transfer-${idx}`">
      At <strong>{{ getDisplayName(station.name) }}</strong
      >, switch to the <strong>{{ station.line | lowercase }} line</strong> and go in the
      <strong>{{ getDisplayName(station.direction) }} direction</strong>
    </p>
  }
  <p data-testid="destination-station-p">
    Stop at <strong>{{ getDisplayName(shortestPath.destinationStation) }}</strong>
  </p>
}
