#main-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

mat-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

#stations-div {
  display: flex;
  column-gap: 20px;
  row-gap: -12px;
  flex-wrap: wrap;
  justify-content: center;
}

mat-error,
app-shortest-path {
  margin-top: 20px;
}

img {
  width: 40px;
  margin-top: 20px;
}
