<div id="main-div">
  <div id="header-div">
    <h1>ShortestTM Path</h1>
  </div>

  <mat-card appearance="outlined">
    <app-instructions></app-instructions>

    <mat-divider></mat-divider>

    <div id="stations-div">
      <app-station
        [description]="'Starting station'"
        [allStations]="allLines$ | async"
        (station)="handleStartingStationFromChild($event)"
      ></app-station>

      <app-station
        [description]="'Destination station'"
        [allStations]="allLines$ | async"
        (station)="handleDestinationStationFromChild($event)"
      ></app-station>
    </div>

    <button data-testid="find-button" matButton="filled" (click)="updateShortestPath()">
      <mat-icon>search</mat-icon>
      Find
    </button>

    @if (gotOnSameLineError) {
      <strong
        ><mat-error data-testid="error-message"
          >The stations are on the same metro line</mat-error
        ></strong
      >
    }

    <app-shortest-path
      [ngStyle]="{
        'margin-top': pathReturned ? '20px' : '0px',
      }"
      [shortestPath]="shortestPath$ | async"
    ></app-shortest-path>
  </mat-card>

  <div id="footer-div">
    <a href="https://github.com/antoinebrunet1/shortesttm-path" target="_blank"
      ><img
        src="images/GitHub_Invertocat_White.svg"
        alt="GitHub logo with link to the repository of the project"
    /></a>

    <p>Built and designed by Antoine Brunet</p>
  </div>
</div>
