#main-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
}

#center-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#stations-div {
  display: flex;
  column-gap: 20px;
  row-gap: -12px;
  flex-wrap: wrap;
  justify-content: center;
}

mat-error,
app-shortest-path {
  margin-top: 20px;
}

img {
  width: 35px;
}
